/* 
Variables
                                                                                                                        
*/

$toDo-color: #840056;
$doing-color: #AB9300;
$done-color: #73A100;



$base-background: #D6D6D6;
$base-text-color: #0D0D0D;

$contrast-background: #2C0A75;
$contrast-text-color: #D6D6D6;

$accent-background: #334700;
$accent-text-color: #D6D6D6;

$test-color: red;

$body-font: Lato;
$body-font-size: 1.6;
$title-font: Lustria;
$strongweight: 700;

