/*

▄▄▄▄▄▄▄▄▄▄   ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄         ▄  ▄       ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌     ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌▐░▌      ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀ 
▐░▌       ▐░▌▐░▌          ▐░▌          ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌          ▐░▌     ▐░▌          
▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░▌          ▐░▌     ▐░█▄▄▄▄▄▄▄▄▄ 
▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌          ▐░▌     ▐░░░░░░░░░░░▌
▐░▌       ▐░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌▐░▌          ▐░▌      ▀▀▀▀▀▀▀▀▀█░▌
▐░▌       ▐░▌▐░▌          ▐░▌          ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌          ▐░▌               ▐░▌
▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░▌          ▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░▌      ▄▄▄▄▄▄▄▄▄█░▌
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌▐░▌          ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌     ▐░░░░░░░░░░░▌
▀▀▀▀▀▀▀▀▀▀   ▀▀▀▀▀▀▀▀▀▀▀  ▀            ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀       ▀▀▀▀▀▀▀▀▀▀▀ 
                                                                                                

*/

html{
    // sets up the base 10 for font-size and rem-fallback mixins
    font-size: 62.5%;
}

body{
    background-color: $base-background;
    color: $base-text-color;
    font-family: $body-font, sans-serif;
    @include font-size($body-font-size);
}


*{
    @include selection{
        background: $base-text-color;
        color: #fff;
    }
}

a{
    text-decoration: none;
    color: $accent-background;
    &:hover, &:active{
        text-decoration: underline;
        color: $base-text-color;
    }
}

p{
    @include rem-fallback(margin, 0, 0, 0, 2.4);
    @include rem-fallback(padding, 0);
}


h1, h2, h3, h4, h5, h6 {
    font-family: $title-font, serif;
    font-weight: 500;
    @include rem-fallback(margin, 0, 0, 1.6);
    padding: 0;
}

h1{
    @include font-size($body-font-size + 2);
}

h2{
    @include font-size($body-font-size + 1.4);
}

h3{
    @include font-size($body-font-size + .8);
}

h4{
    @include font-size($body-font-size + .4);
}

h5{
    @include font-size($body-font-size + .2);
}

h6{
    @include font-size($body-font-size);
}

/* Objects */

img{
    height: auto;
    max-width: 100%;
}

.taskCard {
    border: solid 1px $base-text-color;
    @include rem-fallback(padding, 2);
    border-radius: 5px;
    @include rem-fallback(margin, 2);
    display: flex;
    flex-direction: column;
    color: $base-background;
}

.cardTitle {
    color: $base-text-color;
    font-family: $title-font;
    text-decoration: underline;
}

.test {
    border: 5px solid $test-color;
}

.btn {
    border-radius: 10px;
    color: $accent-background;
    @include font-size($body-font-size);
    background: $base-background;
    @include rem-fallback(padding, 1, 2);
    border: solid $base-text-color 1px;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.btn:hover {
    background: $accent-background;
    text-decoration: none;
    color: $base-background;
    border: solid $base-background 1px;
}

.btn--nav {
    border-radius: 10px;
    color: $contrast-text-color;
    @include font-size($body-font-size);
    background: $contrast-background;
    @include rem-fallback(padding, 1, 2);
    border: solid $contrast-text-color 1px;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.btn--nav:hover {
    background: $contrast-text-color;
    text-decoration: none;
    color: $contrast-background;
    border: solid $contrast-background 1px;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.wrapper{
    @include rem-fallback(margin, 1.5);
    @include rem-fallback(padding, 1.5);
    display: flex;
    justify-content: center;
}

.border {
    border: 1px solid $base-text-color;
}

// :empty { 
//     background-color: $test-color;
// }

.column {
    height: 100%;
    @include rem-fallback(padding, 1);
    border-radius: 5px;
    background-color: $contrast-background;
    text-align: center;
    color: $base-background;
}

#toDo .taskCard {
    background-color: $toDo-color;
}
#toDo .overdue {
    color: $base-background;
    background: #3A0026;
    @include rem-fallback(padding, 1);
    border-radius: 3px;
    border: 1px solid $base-background;
}

#doing .taskCard {
    background-color: $doing-color;
}
#doing .overdue {
    color: $base-background;
    background: #4B4100;
    @include rem-fallback(padding, 1);
    border-radius: 3px;
    border: 1px solid $base-background;
}
#done .taskCard {
    background-color: $done-color;
}

.taskCard {
    border: 1px solid $base-background;
    text-align: left;
    @include rem-fallback(margin, 1);
    @include rem-fallback(padding, 1);
    border-radius: 5px;
    
}

#toDo .hidden--button,
#doing .hidden--button,
#archive .hidden--button {
    display: none;
}

.charts {
    display: block;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
}

canvas {
    margin: 0 auto;
    border: 3px solid $contrast-background;
    border-radius: 3px;
    @include rem-fallback(padding, 1);
    @include rem-fallback(margin, 1);
    background: darkgray;
}

.hidden {
    display: none;
}

#done .overdue {
    display: none;
}

#archive .overdue {
    display: none;
}
#archive {
    height: 100%;
    @include rem-fallback(padding, 1);
    border-radius: 5px;
    background-color: $contrast-background;
    text-align: center;
    color: $base-background;
}

.overdue {
    color: $base-background;
    background: #3A0026;
    @include rem-fallback(padding, 1);
    border-radius: 3px;
    border: 1px solid $base-background;
}

#toDo .hidden--returnButton,
#doing .hidden--returnButton,
#done .hidden--returnButton {
    display: none;
}
nav {
    @include rem-fallback(margin, 1);
    @include rem-fallback(padding, 1);
    
}